<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762972641427-8qu33mscjk825170559k28rbb1apnr0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762972641427-8qu33mscjk825170559k28rbb1apnr0f</string>
	<key>API_KEY</key>
	<string>AIzaSyDQqsM7ZCybZF66CEcP7fGLm8m9VPuZSzs</string>
	<key>GCM_SENDER_ID</key>
	<string>762972641427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-35007</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-35007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762972641427:ios:7c39599b2e06666fc15566</string>
</dict>
</plist>